.BottomBar {
    position:relative;
    box-sizing: border-box;
    height: 400px;
    width: 100%;
    box-shadow: 0 0 40px #00000066;
    /* border-top: 1px solid rgb(171, 171, 171); */
}

.MyButton {
    position: absolute !important;
    top: 10px;
    right: 10px;
    height: 30px;
}