html,
body {
  margin: 0;
  padding: 0;
  background-color:#111217;
  color: rgb(204, 204, 220);
  font-family: Roboto;
  position:relative;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
