.SimpleTable {
    overflow-y: auto;
    height: 100%;
    font-size: .8em;
    animation: myShow 1s;
}

.SimpleTable table {
    border-collapse: collapse;
    width: 100%;
}


.SimpleTable tbody {
    width: 100%;
    height: 20px;
}

.SimpleTable tr {
    width: 100%;
}
.SimpleTable td {
    margin: 2px 40px;
    border: 1px solid #4b4b4b;
}

@keyframes myShow {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
